h1 {
    text-align: center;
    position: inherit;
    top: 50%;
    left: 50%;
    color:#b4b8ab;
  }

  .formContainer{
    background-position: center;
    background-color: #459576;
    width: 90vw;
    height: 100% ;
    padding: 10px; 
    margin: 5%;
    border: 4px solid #2c5f4c; 
    border-radius: 8px; 
    box-sizing: border-box; 
    resize: vertical
  }



.forms{
  max-width: 95vw;
  overflow-x: auto;
  background-color: white;
  opacity: 0.8;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 15px
}

.spreadSheet{
  justify-content: center;
  
}

.shift {
    border-bottom: 10px, solid, black;
    border-radius: 10px;
}

._observation {
    border-bottom: 5px, solid, black;
    border-radius: 10px;
}

._turtle {
    border-bottom: 5px, solid, black;
    border-radius: 10px;
}

._nest {
    border-bottom: 5px, solid, black;
    border-radius: 10px;
}