h3 {
    text-align: center;
    position: inherit;
    top: 50%;
    left: 50%;
    color: black;
  }

.form{
  background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-position: center;
  width: 90%; 
  padding: 12px; 
  border: 20px solid #ccc; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin: 10px;
  resize: vertical;
  background-color: rgb(207, 204, 204);
  opacity: 0.8
}

.shift {
    border-bottom: 10px, solid, black;
    border-radius: 10px;
}

._observation {
    border-bottom: 5px, solid, black;
    border-radius: 10px;
}

._turtle {
    border-bottom: 5px, solid, black;
    border-radius: 10px;
}

._nest {
    border-bottom: 5px, solid, black;
    border-radius: 10px;
}