
.links{
    color:black;
    text-decoration: none;
    padding: 3vh;
    font-size: 23px;
    
  }
  
  .popUp {
    position: fixed;
    width: 34%;
    height: 28%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    margin: auto;
    background: -webkit-linear-gradient(left, #85a100, #25b7c4);
    background: linear-gradient(to right,  #85a100, #25b7c4);
    font-family: 'Montserrat', sans-serif;
   }
  
   .MuiFormGroup-root {
    display: initial;
   }
   .MuiFormControlLabel-root {
    display: block;
   }
   .radiobut{
     display: block;
   }
   #date{
     /* font: small; */
     font: x-small;
       font-style: x-small;
       font-variant-ligatures: x-small;
       font-variant-caps: x-small;
       font-variant-numeric: x-small;
       font-variant-east-asian: x-small;
       font-weight: x-small;
       font-stretch: x-small;
       font-size: x-small;
       line-height: x-small;
       font-family: 'Montserrat', sans-serif;
   }
.dateinput{
     /* font: small; */
     font: x-small;
       font-style: x-small;
       font-variant-ligatures: x-small;
       font-variant-caps: x-small;
       font-variant-numeric: x-small;
       font-variant-east-asian: x-small;
       font-weight: x-small;
       font-stretch: x-small;
       font-size: x-small;
       line-height: x-small;
       font-family: 'Montserrat', sans-serif;
   }
   /* .MuiInputBase-input {
     font: initial;
     font-family: 'Montserrat', sans-serif;
     font-size: small;
   } */
   .dimensions {
     display: flex;
   }
   .markings {
     margin-left: 3%;
   }
   .turtle-container {
     margin-left: 2%;
   }