.container {
  margin-top: 3vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-size: 100%;
  background-repeat: no-repeat
}


.button {
  margin-top: 10%;
  display: inherit;
    /* margin-bottom: 24vh; */
    padding: 2%;  
    align-items: center;
}

.link {
  background-color: #cfcfcf;
  border: none;
  color: black;
  /* padding: 5%; */
  text-align: center;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  align-self: center;
  /* margin: 4px 2px; */
  opacity: 0.6;
  transition: 0.3s;
  display: inline;
  /* text-decoration: none; */
  cursor: pointer;
  height: 8vh;
  width: 32vw;
  border-radius: 10px;
}

.link:hover {opacity: 0.7;}

.link:active {
  background-color: #92c8d1;
  transform: translateY(4px);
}




