.logincontainer{
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
 }

 .loginInnerContainer {
    display: grid;
    
 }
 .cardActionsContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    padding-left: 16px;
    padding-bottom: 16px;
    font: inherit
 }