@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  background-color: rgb(22, 87, 124);
  /* font-family: 'Lato', sans-serif !important */
  font-family: 'Montserrat', sans-serif;
  background-image: url("../src/styles/background-turtle.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

nav {
  background-color: rgb(22, 87, 124);
  color: #FeFFFF;
  height: 60px;
  font-size: 30px;
}

button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

/* .link {
  background-color: #3AAFA9;
  border-radius: 10px;
  height: 20vh;
  width: 32v;
  font-size: 15px;
  margin-top: 50px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
} */
nav a {
  color: white;
  text-decoration: none;
  align-self: flex-end;
  margin-left: 10px
}

.container {
  padding: 2%;
}

.loginContainer {
  position: relative;
  display: flex;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  font-family: 'Montserrat', sans-serif;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.currentUser {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 10px
}

#clients a:nth-child(1) {
  color: rgb(137, 235, 230);
  border-top: 2px solid #3AAFA9;
}

.ShiftInput {
  font-family: 'Montserrat', sans-serif;

}

#analytics a:nth-child(3) {
  color: #3AAFA9;
  border-top: 2px solid #3AAFA9
}

.login {
  background-color: white;
  color: gray;
  height: 400px;
  width: 40%;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.login input {
  width: 80%;
  text-align: left;
  margin-top: 30px;
  height: 30px
}

.bigButton {
  height: 60px;
  width: 280px;
  color: lightblue;
  margin-left: 190px;
  margin-top: 0;
}

.popUp {
  position: fixed;
  width: 60%;
  height: 33%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
  background: white;
  font-family: 'Montserrat', sans-serif;
  opacity: 2
}
